<% content_for :title, "Tasks" %>

<div class="mx-auto max-w-7xl px-3 flex flex-col gap-6 w-full">
  <%= render "tasks/dialog" %>
  <div class="flex justify-between items-center w-full">
    <h1 class="font-medium text-4xl">TASKS</h1>
    <button command="show-modal" commandfor="new_task_dialog" class="rounded-md bg-custom-white p-2 text-sm font-semibold text-custom-black flex items-center gap-2 hover:bg-white cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" class="text-custom-black"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg>
      Add a new task
    </button>
  </div>

  <div id="tasks" class="min-w-full space-y-5">
    <% if @todo_tasks.any? %>
      <% @todo_tasks.each do |task| %>
        <div class="flex flex-col sm:flex-row justify-between items-center pb-5 sm:pb-0">
          <%= render task %>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">No tasks found.</p>
    <% end %>
  </div>

  <div id="concluded-tasks" class="min-w-full space-y-5">
    <h2 class="font-bold text-2xl">COMPLETED</h2>

    <% if @concluded_tasks.any? %>
      <% @concluded_tasks.each do |task| %>
        <div class="flex flex-col sm:flex-row justify-between items-center pb-5 sm:pb-0 opacity-50">
          <%= render task %>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">No concluded tasks found.</p>
    <% end %>
</div>
