<% content_for :title, "New user" %>

<div class="max-w-5xl mx-auto flex flex-col gap-6 mt-5">
  <h1 class="font-bold text-4xl text-center">Sign Up</h1>

  <%= turbo_frame_tag "user_form" do %>
    <%= render "form", user: @user %>
  <% end %>

  <div class="mt-4 text-sm text-center text-gray-500 sm:mt-2">
      <span class="text-custom-white">Already have an account?</span>
      <%= link_to "Sign in", new_session_path, class: "text-custom-white underline hover:no-underline" %>
  </div>
</div>
