<% if object.errors.any? %>
  <div class="text-red-500 px-3 py-2 font-medium rounded-md mt-3">
    <div class="flex flex-col gap-1">
      <% object.errors.full_messages.each do |message| %>
        <span><%= message %></span>
      <% end %>
    </div>
  </div>
<% end %>
