<nav class="relative">
  <div class="mx-auto max-w-7xl p-3">
    <div class="flex justify-between">
      <%= link_to root_path, class: "flex items-center" do %>
        <%= image_tag "logo.svg", alt: "Logo", class: "w-auto h-auto" %>
      <% end %>
      <% if Current.user.present? %>
        <%= button_to "Sign Out", destroy_user_session_path, method: :get, class: "cursor-pointer hover:text-gray-300 border-1 border=white rounded-md px-3 py-2 text-sm font-medium" %>
      <% end %>
    </div>
  </div>
</nav>